<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116224481920-bkgnhiukkoujaarc9a5762k3bjoenkkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116224481920-bkgnhiukkoujaarc9a5762k3bjoenkkc</string>
	<key>API_KEY</key>
	<string>AIzaSyB2tHtun-Src3Huf9-MBmV2CMh9wiNctDI</string>
	<key>GCM_SENDER_ID</key>
	<string>116224481920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korona.coronalk</string>
	<key>PROJECT_ID</key>
	<string>corona-c0f34</string>
	<key>STORAGE_BUCKET</key>
	<string>corona-c0f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116224481920:ios:41d8117a0b494eebafe465</string>
	<key>DATABASE_URL</key>
	<string>https://corona-c0f34.firebaseio.com</string>
</dict>
</plist>